@model WickedBanana.Models.Item
@{
    ViewData["Title"] = "Edit " + Html.DisplayFor(model => model.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<hr />
<h4>Edit this Item: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ItemId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    @Html.LabelFor(model => model.Type)
    @Html.EditorFor(model => model.Type)
    @Html.LabelFor(model => model.Attack)
    @Html.EditorFor(model => model.Attack)
    @Html.LabelFor(model => model.Defense)
    @Html.EditorFor(model => model.Defense)
    @Html.LabelFor(model => model.Image)
    @Html.EditorFor(model => model.Image)




    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>