@model WickedBanana.Models.Foe

@{
    ViewData["Title"] = "Create A New Enemy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create</h2>
<hr />
<h4>Add a new Item</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.HitPoints)
    @Html.TextBoxFor(model => model.HitPoints)

    @Html.LabelFor(model => model.AttackDamage)
    @Html.TextBoxFor(model => model.AttackDamage)

    @Html.LabelFor(model => model.Image)
    @Html.TextBoxFor(model => model.Image)


    <input type="submit" value="Create" />
}
<p>@Html.ActionLink("Go Back", "Index", "Item")</p>